{% extends 'layout.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-10 col-md-offset-1 mx-auto">
    <div class="home-img-container">
      <img src="{{ asset('images/minified/chleehof-neu.jpg') }}" class="img img-fluid">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Familie Lüthi Chleehof 8 3422 Kirchberg</h2>
  </div>
</div>
{% endblock %}
