<div id="carouselContainer" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for slideshowImgPath in slideshowImgPaths %}
      {% set slideClass = "carousel-item" %}
      {% if slideshowImgPath == slideshowImgPaths[0] %}
        {% set slideClass = "carousel-item active" %}
      {% endif %}
      <div class="{{ slideClass }}">
        <img src="{{ asset(slideshowImgPath) }}" class="d-block w-100">
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselContainer" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselContainer" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
