{% extends 'admin/base_form.html.twig' %}

{% block header %}
  <h2>{{ 'actions.create'|trans({modelName: 'models.customer.modelName.singular'|trans}) }}</h2>
{% endblock %}

{% block form %}
  {{ form(form, { attr: {novalidate: 'novalidate'}}) }}
{% endblock %}
